<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title> viewer-{{ index }} </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div style="width: 100%; height: 100%" id="dicomImage"></div>
</ion-content>
<ion-footer class="ion-no-border">
  <div
    class="ion-justify-content-center ion-align-items-center"
    style="display: flex"
  >
    <ion-button fill="clear" (click)="firstInstance()">
      <ion-icon slot="icon-only" name="play-back"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="prevInstance()">
      <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="slideShow()">
      <ion-icon
        [color]="playIconColor"
        slot="icon-only"
        [name]="playIcon"
      ></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="nextInstance()">
      <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="lastInstance()">
      <ion-icon slot="icon-only" name="play-forward"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="goToViewer()">
      <ion-icon slot="icon-only" name="analytics-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
